{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="position-relative">
    <div class="container-fluid g-0">
        <section class="container-fluid photo">
            <div class="row">
                <div class="col my-5">
                    <div class="position-absolute top-50 start-50 translate-middle bg-dark-ocean p-5 w-75 text-center text-white">
                        <h1 class="display-4 fw-bolder">Good food!</h1>
                        <p>Save a meal, save money and save the planet with Green Planet!</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
{% endblock %}