{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="container-fluid photo g-0 position-relative">
        <div class="row">
            <div class="col my-5">
                <div class="position-absolute top-50 start-50 translate-middle bg-home p-4 w-75 text-center text-white">
                    <h1 class="display-4 fw-bolder">Good food!</h1>
                    <p>Save a meal, save money and save the planet with Green Planet!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Our Mission</h2>
            </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="row">
            <div class="col">
                <h2 class="fw-bold py-3">How to save money with us?</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{{ MEDIA_URL }}online-shop.jpg" class="card-img-top" alt="Shop online">
                <div class="card-body">
                  <h4 class="card-title fw-bold">Shop Online</h4>
                  <p class="card-text">You can browse our online store with great discount almost 50% off. Make the payment online.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{{ MEDIA_URL }}collect-bag.jpg" class="card-img-top" alt="Collect your bag">
                <div class="card-body">
                  <h4 class="card-title fw-bold">Collect your bag</h4>
                  <p class="card-text">You can collect your paid bag from the physical store. Show your confirmation message as proof of purchase.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{{ MEDIA_URL }}family-food.jpg" class="card-img-top" alt="Enjoy your meal with your family">
                <div class="card-body">
                  <h4 class="card-title fw-bold">Enjoy your meal!</h4>
                  <p class="card-text">Enjoy and have fun with your family and friends. Because we believe that a good meal is a good deal!</p>
                </div>
              </div>
            </div>
          </div>
    </section>
    
</main>
{% endblock %}