{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container top-space text-center">
    <div class="row">
        <div class="col py-4">
            <h3 class="fw-bold">Terms of Use</h3>
            <p>
                These terms govern the use of the Green Planet website and all services provided by us. These terms are
                a binding agreement between us and the Service users regarding the use of the Service.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="fw-bold">1. Registration</h4>
            <p>You have to create an account before the use of our Services.</p>
        </div>
        <ul class="list-unstyled d-lg-flex">
            <li class="px-3">
                <i class="far fa-edit fs-1 text-success"></i>
                <p class="fs-5">Fill in only true information</p>
            </li>
            <li class="px-3">
                <i class="fas fa-book-reader fs-1 text-success"></i>
                <p>Review our legal documents</p>
            </li>
            <li class="px-3">
                <i class="fas fa-user-check fs-1 text-success"></i>
                <p>You have to be at legal age</p>
            </li>
            <li class="px-3">
                <i class="fas fa-thumbs-up fs-1 text-success"></i>
                <p>Accept the terms and create the account</p>
            </li>
        </ul>
        <p>If you create the account on behalf of a company, organization, or other entity, then this entity is the
            party to this agreement, and you state that you have the authority to represent the entity and enter this
            agreement.
        </p>
    </div>
    <div class="row mw-75">
        <div class="col offset-lg-1">
            <h4 class="fw-bold">2. Use of Services</h4>
            <p>
                <span class="fw-bold">Purchase.</span> You can only purchase one item per store. This is to avoid purchasing
                more than we can consume, which our main goal is to reduce food waste.
                <br>
                <span class="fw-bold">Delivery.</span> Home delivery is not available at this moment. We offer pick up
                from the store itself.
                <br>
                <span class="fw-bold">Breach.</span> If you do not comply with these terms, or any other binding policy,
                or any applicable law, or delay any payment, we may suspend and then delete your account at any time.
                <br>
                <span class="fw-bold">Changes.</span> We may change these terms, other policies, and our Service from
                time to time. If changes affect your rights or obligations, we will notify you in advance.
                <br>
                <span class="fw-bold">Intellectual property.</span> Our Service, solutions, website, trademarks, etc.,
                belong to us, and youare only licensed to use the Service.
                <br>
                <span class="fw-bold">License.</span> We grant you a limited, revocable, non-transferable, and
                non-exclusive license to use our Services while you are our customer. Any other use is strictly
                prohibited.
                <br>
                <span class="fw-bold">Feedback.</span> If you provide us with any feedback or comments, you grant us the
                right to use such feedback or comments for any purpose without restriction and any payment to you.
            </p>

        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h4 class="fw-bold">3. Restricted Use</h4>
            <p>You shall <span class="text-decoration-underline">not:</span></p>
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-times-circle text-danger"></i>
                    Reproduce, modify, reverse engineer, decompile, or disassemble our Services or create derivative
                    works

                </li>
                <li>
                    <i class="fas fa-times-circle text-danger"></i>
                    Sublicence, resell, share, transfer, or otherwise redristibute our Services
                </li>
                <li>
                    <i class="fas fa-times-circle text-danger"></i>
                    Use our Services, if you are no longer our customer
                </li>
                <li>
                    <i class="fas fa-times-circle text-danger"></i>
                    Use our Services in any manner that is illegal, misleading, or fraudulent
                </li>
            </ul>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h4 class="fw-bold">5. Payments</h4>
            <ul class="list-unstyled d-lg-flex">
                <li class="px-3">
                    <p>
                        <i class="fas fa-tags fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Pricing and taxes</span>
                        <br>
                        All prices are indicated on the Pricing section on our website. Tax is included in the indicated
                        price.
                    </p>
                </li>
                <li class="px-3">
                    <p>
                        <i class="fas fa-credit-card fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Payment methods</span>
                        <br>
                        Acceptable payment methods are indicated in the checkout page
                    </p>
                </li>
                <li class="px-3">
                    <p>
                        <i class="far fa-save fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Save your bank details</span>
                        <br>
                        We will save your payment information for future charges.
                    </p>
                </li>
                <li class="px-3">
                    <p>
                        <i class="fas fa-random fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Price changes</span>
                        <br>
                        We may change prices from time to time, and we will notify changes in advance. All changes apply
                        to future payments only
                    </p>
                </li>
            </ul>

        </div>
    </div>
    <div class="row mw-75 py-2">
        <div class="col offset-lg-1">
            <h4 class="fw-bold">5. Liability</h4>
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-hand-point-right text-success"></i>
                    <span class="fw-bold">Availability: </span>
                    Service may be subject to interruptions due to periodic upgrades, maintenance, or technical
                    difficulties.

                </li>
                <li>
                    <i class="fas fa-hand-point-right text-success"></i>
                    <span class="fw-bold">Liability Limitation: </span>
                    We will not be liable for any indirect or incidental losses and damages, like loss of profits,
                    goodwill, or other intangible losses resulting from the use or the inability to use our Services.
                </li>
                <li>
                    <i class="fas fa-hand-point-right text-success"></i>
                    <span class="fw-bold">Total Liability: </span>
                    Our aggregate liability is limited to the amount paid by you for our Services during the 12 month
                    preceding the event giving rise to such a claim.
                </li>
                <li>
                    <i class="fas fa-hand-point-right text-success"></i>
                    <span class="fw-bold">Your Liability: </span>
                    You will be liable and responsible for claims, complaints, and damages arising out of your breach of
                    this agreement or violation of any applicable law or the rights of a third party.
                </li>
            </ul>
        </div>
    </div>
    <div class="row mw-75 py-2">
        <div class="col offset-lg-1">
            <h4 class="fw-bold">6. Disputes</h4>
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-chevron-right text-success"></i>
                    If you have any issues or complaints, please contact us by email.

                </li>
                <li>
                    <i class="fas fa-chevron-right text-success"></i>
                    If you have any dispute regarding our fees, charges, or Services, contact us within 30 days after
                    the event giving rise to such a dispute (otherwise, you shall not be entitled to any refunds).
                </li>
                <li>
                    <i class="fas fa-chevron-right text-success"></i>
                    If the dispute cannot be resolved through negotiations, it shall be resolved in the courts of the
                    European Union and UK according to these terms and the laws of the European Union and UK (including
                    non-contractual claims and claims after the termination of this agreement).
                </li>
            </ul>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h4 class="fw-bold">7. Term and termination</h4>
            <ul class="list-unstyled d-lg-flex">
                <li class="px-3">
                    <p>
                        <i class="far fa-flag fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Term</span>
                        <br>
                        You are licensed to use the Services until you or we terminate this agreement
                    </p>
                </li>
                <li class="px-3">
                    <p>
                        <i class="fas fa-paper-plane fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Notification</span>
                        <br>
                        You may terminate the agreement anytime by notifying us.
                    </p>
                </li>
                <li class="px-3">
                    <p>
                        <i class="fas fa-exclamation-circle fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Breach</span>
                        <br>
                        If you breach this agreement, any other policy, or any applicable law, we may terminate the agreement immediately.
                    </p>
                </li>
            </ul>

        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h4 class="fw-bold">8. Contact</h4>
            <ul class="list-unstyled">
                <li class="px-3 my-3">
                    <p>
                        <i class="fas fa-home fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Green Planet address</span>
                        <br>
                        Dublin, Ireland
                    </p>
                </li>
                <li class="px-3 my-3">
                    <p>
                        <i class="fas fa-envelope fs-1 text-success"></i>
                        <br>
                        <span class="fw-bold">Email</span>
                        <br>
                        info@greenplanet.com
                    </p>
                </li>
            </ul>
            <p>Effective as of 23 December 2030</p>
        </div>
    </div>
</div>

{% endblock %}