/* --------------------------------------------------- ROOT ------------------------------------- */
:root {
    --planet-trans-cloud: rgba(194, 219, 232, 0.75);
    --planet-trans-black: rgba(26, 38, 38, 0.3);
    --planet-black-night: #1a2626;
    --planet-dark-tree: #29443b;
    --planet-dark-ocean: #074d66;
    --planet-sky-blue: #4a8da7;
    --planet-white-leaf: #e7f0e3;
    --planet-brown-leaf: #a52a2a;
}
/* --------------------------------------------------- GLOBAL ------------------------------------- */
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--planet-white-leaf);
    font-weight: 300;
    color: var(--planet-black-night);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--planet-black-night);
    text-decoration: none;
}

/* --------------------------------------------------- BACKGROUND COLORS ------------------------------------- */

.bg-white-leaf{
    background-color: var(--planet-white-leaf);
}

.bg-trans-white {
    background-color: var(--planet-trans-cloud);
}

.bg-dark-tree {
    background-color: var(--planet-dark-tree);
}

.bg-home {
    background-color: rgba(41, 68, 59, 0.8);
}

.bg-sky-blue {
    background-color: var(--planet-sky-blue);
}

/* --------------------------------------------------- Text ------------------------------------- */
.text-white-leaf {
    color: var(--planet-white-leaf);
}

.text-dark-ocean {
    color: var(--planet-dark-ocean);
}

.text-brown-leaf {
    color: var(--planet-brown-leaf);
}

.text-dark-tree {
    color: var(--planet-dark-tree);
}

/* --------------------------------------------------- NAVBAR ------------------------------------- */


.logo {
    max-height: 5rem;
    max-width: 5rem;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:not(.active) {
    background-image: linear-gradient(
      to right,
      var(--planet-dark-ocean),
      var(--planet-dark-ocean) 50%,
      #6a6a6a 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:before{
    content: '';
    background: var(--planet-dark-ocean);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:hover {
   background-position: 0;
}
  
.navbar-expand-lg .navbar-nav .nav-link:hover::before{
    width: 100%;
}

/* from https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .active {
    font-weight: bolder;
    border-bottom: 3px solid var(--planet-brown-leaf);
    background-image: linear-gradient(
      to right,
      var(--planet-dark-ocean),
      var(--planet-dark-ocean) 50%,
      var(--planet-brown-leaf) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* --------------------------------------------------- FOOTER ------------------------------------- */

.copyright {
    color: #fff;
}

/* --------------------------------------------------- HOMEPAGE ------------------------------------- */
.photo {
    background: url('/media/food-basket.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 80px);
}

.top-space {
    margin-top: 8rem;
}

/* --------------------------------------------------- STORE ------------------------------------- */
.add-favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    color: aquamarine;
}

.store-card-title:hover {
    color: var(--planet-brown-leaf);
}

.card-img-top {
    height: 15rem;
}

.image-detail {
    height: 26rem;
    width: 100%;
}

.card-image-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--bs-card-img-overlay-padding);
    width: 100%;
    background-color: var(--planet-trans-black);
}

.btn-dark-ocean {
    background-color: var(--planet-dark-ocean);
    color: #fff;
}

.btn-dark-ocean:hover {
    background-color: var(--planet-sky-blue);
}

.dropdown .filter-link:hover {
    color: var(--planet-brown-leaf);
}

/* --------------------------------------------------- BAG ------------------------------------- */

.bag-active{
    color: var(--planet-brown-leaf);
}

.min-h-page {
    min-height: 50vh;
}

.quantity-input {
    margin: 10px;
    max-width: 3rem;
}

.delete-icon {
    cursor: pointer;
}

.btn-dark-tree {
    border: 1px solid var(--planet-black-night);
}

.btn-dark-tree:hover {
    background-color: var(--planet-dark-tree);
    color: #fff;
}

.toast-body .btn-checkout-bag {
    min-width: 100%;;
}

/* --------------------------------------------------- TOAST ------------------------------------- */

.message-container {
    margin-top: 5rem;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 15px;
}

.container .account-box {
    min-width: 40rem;
}

/* --------------------------------------------------- RESPONSIVE ------------------------------------- */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .card-body {
        height: 15rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .image-detail {
        height: 20rem;
    }
    .copyright {
        font-size: 12px;
        text-align: center;
    }
    .table-sm-font {
        font-size: 12px;
    }
    .toast {
        --bs-toast-max-width: 18rem;
    }
    .card-body {
        height: 11rem;
    }
    .container .account-box {
        min-width: 0;
        max-width: 100%;
    }
}

/* --------------------------------------------------- TESTING ------------------------------------- */
