/* --------------------------------------------------- ROOT ------------------------------------- */
:root {
    --planet-trans-cloud: rgba(194, 219, 232, 0.75);
    --planet-trans-black: rgba(26, 38, 38, 0.3);
    --planet-black-night: #1a2626;
    --planet-dark-tree: #29443b;
    --planet-dark-ocean: #074d66;
    --planet-sky-blue: #4a8da7;
    --planet-white-leaf: #e7f0e3;
    --planet-brown-leaf: #946C3E;
    --planet-yellow-leaf: #99C233;
}

/* --------------------------------------------------- GLOBAL ------------------------------------- */
* {
    padding: 0;
    margin: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--planet-white-leaf);
    font-weight: 300;
    color: var(--planet-black-night);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--planet-black-night);
    text-decoration: none;
}

/* --------------------------------------------------- BACKGROUND COLORS ------------------------------------- */

.bg-white-leaf {
    background-color: var(--planet-white-leaf);
}

.bg-trans-white {
    background-color: var(--planet-trans-cloud);
}

.bg-dark-tree {
    background-color: var(--planet-dark-tree);
}

.bg-home {
    background-color: rgba(148, 108, 62, 0.85);
}

.bg-sky-blue {
    background-color: var(--planet-sky-blue);
}

.bg-dark-ocean {
    background-color: var(--planet-dark-ocean);
}

/* --------------------------------------------------- Text ------------------------------------- */
.text-white-leaf {
    color: var(--planet-white-leaf);
}

.text-dark-ocean {
    color: var(--planet-dark-ocean);
}

.text-brown-leaf {
    color: var(--planet-brown-leaf);
}

.text-dark-tree {
    color: var(--planet-dark-tree);
}

.text-sky-blue {
    color: var(--planet-sky-blue);
}

.text-sky-blue:hover {
    color: var(--planet-sky-blue);
}

.text-yellow-leaf {
    color: var(--planet-yellow-leaf);
}

/* --------------------------------------------------- NAVBAR ------------------------------------- */


.logo {
    max-height: 5rem;
    max-width: 5rem;
}

.navbar-toggler {
    border: var(--bs-border-width) solid transparent;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:not(.active) {
    background-image: linear-gradient(to right,
            var(--planet-sky-blue),
            var(--planet-white-leaf) 50%,
            var(--planet-white-leaf) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:before {
    content: '';
    background: var(--planet-sky-blue);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

/* https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-position: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    width: 100%;
}

/* from https://css-tricks.com/css-link-hover-effects/ */
.navbar-expand-lg .navbar-nav .active {
    font-weight: bolder;
    border-bottom: 3px solid var(--planet-brown-leaf);
    background-image: linear-gradient(to right,
            var(--planet-white-leaf),
            var(--planet-sky-blue) 50%,
            var(--planet-yellow-leaf) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.btn-outline-white {
    color: var(--planet-white-leaf);
    border: 1px solid var(--planet-white-leaf);
}

.btn-outline-white:hover {
    background-color: var(--planet-sky-blue);
    color: var(--planet-white-leaf);
}

.text-sky-blue i:hover {
    color: var(--planet-white-leaf);
}

.text-sky-blue .nav-link .text-white-leaf:hover {
    color: var(--planet-sky-blue);
}

/* --------------------------------------------------- FOOTER ------------------------------------- */

.copyright {
    color: #fff;
}

/* --------------------------------------------------- HOMEPAGE ------------------------------------- */
.photo {
    background: url('/media/food-basket.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 80px);
}

.top-space {
    margin-top: 8rem;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-button {
    min-width: 300px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--planet-white-leaf);
    background: #4a8da7;
    /* background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
    border: none;
    border-radius: 30px;
    box-shadow: 12px 12px 24px rgba(74, 141, 167, .65);
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    top: 25%;
    z-index: 2;
    }
  
  /* a.home-button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  } */
  
  .home-button:hover, .home-button:focus {
    color: #313133;
    transform: translateY(-6px);
    background-color: #00FFCB;
  }
  
  a.home-button:hover::before, .home-button:focus::before {
    opacity: 1;
  }
  
  a.home-button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--planet-sky-blue);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  a.home-button:hover::after, a.home-button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 120px;
      opacity: 0;
    }
  }
/* --------------------------------------------------- STORE ------------------------------------- */
.add-favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    color: aquamarine;
}

.store-card-title:hover {
    color: var(--planet-brown-leaf);
}

.card-img-top {
    height: 15rem;
}

.image-detail {
    height: 29rem;
    width: 100%;
}

.card-image-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--bs-card-img-overlay-padding);
    width: 100%;
    background-color: var(--planet-trans-black);
}

.btn-dark-ocean {
    background-color: var(--planet-dark-ocean);
    color: #fff;
}

.btn-dark-ocean:hover {
    background-color: var(--planet-sky-blue);
}

.dropdown .filter-link:hover {
    color: var(--planet-brown-leaf);
}

/* --------------------------------------------------- BAG ------------------------------------- */

.bag-active {
    color: var(--planet-yellow-leaf);
}

.min-h-page {
    min-height: 50vh;
}

.quantity-input {
    margin: 10px;
    max-width: 3rem;
}

.delete-icon {
    cursor: pointer;
}

.btn-dark-tree {
    border: 1px solid var(--planet-black-night);
}

.btn-dark-tree:hover {
    background-color: var(--planet-dark-tree);
    color: #fff;
}

.toast-body .btn-checkout-bag {
    min-width: 100%;
    ;
}

/* --------------------------------------------------- TOAST ------------------------------------- */

.message-container {
    margin-top: 5rem;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 15px;
}

.container .account-box {
    max-width: 40rem;
}

/* --------------------------------------------------- ALL AUTH ------------------------------------- */
.allauth-inner-content label:not([for='id_remember']) {
    display: none;
}

#div_id_remember {
    font-size: 14px;
}

a.text-brown-leaf:hover {
    color: var(--planet-yellow-leaf);
}

/* FROM https://unused-css.com/blog/css-shake-animation/ */
span.constant-tilt-shake {
    animation: tilt-shaking 0.3s infinite;
}

/* --------------------------------------------------- Custom clearable --------------------------------- */

.btn-select-image {
    position: relative;
    overflow: hidden;
}

.btn-select-image input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


/* --------------------------------------------------- BUSINESS TYPE ------------------------------------- */
/* FROM https://unused-css.com/blog/css-shake-animation/ */
span.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

/* --------------------------------------------------- KEY FRAMES ANIMATION ------------------------------- */
/* FROM https://unused-css.com/blog/css-shake-animation/ */
@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* --------------------------------------------------- RESPONSIVE ------------------------------------- */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .card-body {
        height: 15rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .image-detail {
        height: 20rem;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }

    .table-sm-font {
        font-size: 12px;
    }

    .toast {
        --bs-toast-max-width: 18rem;
    }

    .card-body {
        height: 11rem;
    }

    .container .account-box {
        max-width: 100%;
    }
}