{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}- Error 404{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center py-3 mt-md-5 mt-4 mb-5 bg-light rounded py-2 ">
    <div class="row">
        <div class="col-12 text-center error-container">
            <img src="{{ MEDIA_URL }}error-404.png" alt="Error 404 image">
            <h2 class="fs-1">Page not found</h2>
            <p>You're lost! Please come back down to earth!</p>
            <a href="{% url 'home' %}" class="btn btn-dark-ocean rounded-pill">Go home</a>
        </div>
    </div>
</div>
{% endblock %}