<div class="collapse navbar-collapse justify-content-end me-4" id="main-navbar">
    <form method="GET" action="{% url 'all_stores' %}" class="d-flex" role="search">
        <input class="form-control me-2" type="text" name="q" placeholder="Search store" aria-label="Search store">
        <button class="btn btn-outline-white" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mb-2 mb-lg-0 text-end">
        <li class="nav-item mx-lg-2">
            <a class="nav-link {{ home }} p-1" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown mx-lg-2">
            <a class="nav-link p-1 {{ store }} {{ stores }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stores
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item {{ all_stores }}" href="{% url 'all_stores' %}">All</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% for type in b_type %}
                    <li><a class="dropdown-item" href="{% url 'all_stores' %}?business_type={{ type.name }}">{{ type.friendly_name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item mx-lg-2">
            <a class="nav-link {{ business }} p-1" aria-current="page" href="{% url 'business' %}">For Businesses</a>
        </li>
        <li class="nav-item dropdown mx-lg-2">
            <a class="nav-link p-1 {{ account }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </a>
            <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'user_profile' %}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>

</div>