<div class="collapse navbar-collapse justify-content-end me-4" id="main-navbar">
    <form class="d-flex" role="search">
        <input class="form-control me-2 rounded-0" type="search" placeholder="Search store" aria-label="Search">
        <button class="btn btn-outline-dark rounded-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item mx-lg-2">
            <a class="nav-link {{ home }} p-1" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown mx-lg-2">
            <a class="nav-link p-1 {{ store }} {{ stores }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stores
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item {{ all_stores }}" href="{% url 'all_stores' %}">All</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Restaurants</a></li>
                <li><a class="dropdown-item" href="#">Bakery</a></li>
                <li><a class="dropdown-item" href="#">Grocery Stores</a></li>
                <li><a class="dropdown-item" href="#">Hotels</a></li>
            </ul>
        </li>
        <li class="nav-item mx-lg-2">
            <a class="nav-link {{ business }} p-1" aria-current="page" href="#">For Businesses</a>
        </li>
        <li class="nav-item dropdown mx-lg-2">
            <a class="nav-link p-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Profile
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Log In</a></li>
                <li><a class="dropdown-item" href="#">Register</a></li>
            </ul>
        </li>
    </ul>

</div>