{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}- Log in{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="text-center fw-bold">{% trans "Log In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="fs-6 d-flex">{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or,
    <span class="mx-1 constant-tilt-shake">
		<a class="text-brown-leaf text-decoration-underline" href="{{ sign_url }}">
			sign up
		</a>
	</span>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</div>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<div class=" fs-6 d-flex mb-2">
	If you have not created an account yet, then please
	<span class="mx-1 constant-tilt-shake">
		<a class="text-brown-leaf text-decoration-underline" href="{{ login_url }}">
			sign up
		</a>
	</span>
    first.
</div>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex justify-content-between">
        <a class="button secondaryAction fs-6 pt-3"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

        <button class="primaryAction btn btn-dark-ocean fs-5" type="submit">{% trans "Sign In" %}</button>
    </div>
</form>

{% endblock %}