{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}- Checkout{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-2 mb-5 min-h-page bg-light rounded py-2">
    <div class="row">
        <div class="col-12 text-center py-2">
            <h2 class="fw-bold">Add Store</h2>
            <hr class="my-3">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_store' %}" class="form mb-5" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-center">
                    <a href="{% url 'user_profile' %}" class="btn btn-danger mx-2 mt-3">Cancel</a>
                    <button class="btn btn-dark-ocean mx-2 mt-3" type="submit">Add store</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block post_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#select-image').change(function(){
            let file = $('#select-image')[0].files[0];
            $('#image-name').text(`Set image to: ${file.name}` )
        });
    </script>
{% endblock %}