{% extends "base.html" %}
{% load static %}

{% block extra_title %}- All Stores{% endblock %}

{% block page_header %}
<div class="container top-space">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <!-- Heading -->
    <div class="py-3 mt-md-5 mt-4 py-2 text-center container">
        <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top-store">
            <i class="fas fa-arrow-up"></i>
        </button>
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">All stores</h1>
                <p class="lead text-muted">
                    Check out all our promotions to start saving your money and help reduce food waste!
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="row me-4">
            <div class="col-lg-3 col-md-4 col-sm-6 offset-lg-5 offset-md-4">
                <div class="dropdown d-flex gap-5 justify-content-end">
                    <a class="p-1 filter-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-filter"></i>
                        <span>Filter all</span>
                    </a>
                    <ul class="dropdown-menu mx-0 shadow w-220px">
                        <li>
                            <a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'all_stores' %}?sort=price&direction=asc">
                                Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'all_stores' %}?sort=rating&direction=desc">
                                Ratings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex gap-2 align-items-center" href="{% url 'all_stores' %}?sort=business_type&direction=asc">
                                Category
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item dropdown-item-danger d-flex gap-2 align-items-center" href="{% url 'all_stores' %}">
                                Reset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sort-select-wrapper text-end">
                    <select id="filter-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="store_name_asc" {% if current_sorting == 'store_name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="store_name_desc" {% if current_sorting == 'store_name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="business_type_asc" {% if current_sorting == 'business_type_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="business_type_desc" {% if current_sorting == 'business_type_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center mb-5">
        {% for store in stores %}
        <div class="col my-4 d-flex justify-content-center">
            <div class="card position-relative" style="width: 18rem;">
                {% if request.user.is_authenticated %}
                    <a class="hvr-icon-grow" href="{% url 'add_favourite' store.id %}">
                        <i class="far fa-heart add-favourite fs-1 text-white hvr-icon"></i>
                    </a>
                {% endif %}
                {% if store.image %}
                <a href="{% url 'store_detail' store.id %}">
                    <img src="{{ store.image.url }}" class="card-img-top" alt="{{ store.store_name }}">
                </a>
                {% else %}
                <a href="{% url 'store_detail' store.id %}">
                    <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="{{ store.store_name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <a class="store-card-title" href="#">
                        <h4 class="card-title fw-bold">{{ store.store_name }}</h4>
                    </a>
                    <p class="card-text fs-6">{{ store.business_type.friendly_name }}</p>
                    <div class="row text-end">
                        <div class="col-4 px-2 text-start">
                            <p><i class="fas fa-star text-dark-ocean"></i> <small>{{ store.rating }}</small></p>
                        </div>
                        <div class="col-3 px-0 offset-1">
                            <p class="text-decoration-line-through text-muted fs-6">{{ store.original_price }}€</p>
                        </div>
                        <div class="col-3 px-0">
                            <p class="fw-bold">{{ store.price }}€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{%  block post_js %}
{{ block.super }}
<script>
    // From https://mdbootstrap.com/snippets/standard/mdbootstrap/2964350#js-tab-view
    // Get the scroll to top button
    let storebutton = document.getElementById("btn-back-to-top-store");
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            storebutton.style.display = "block";
        } else {
            storebutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    storebutton.addEventListener("click", backToTop);

    function backToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }

    // To filter the items in store page
    $('#filter-selector').change(function() {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];
            if (sort == 'store') {
                sort = `${sort}_name`;
                direction = selectedVal.split("_")[2];
            }
            if (sort == 'business') {
                sort = `${sort}_type`;
                direction = selectedVal.split("_")[2];
            }

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    }) 

</script>
{% endblock %}