<div class="toast bg-light" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
    <div class="toast-header bg-success text-light">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="my-1">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="fw-bold fs-5">Bag content</p>
        <div class="bag-item-wrapper">
            <div class="row">
                {% for item in bag_items %}
                <div class="col-3 my-1">
                    {% if item.store.image %}
                        <img class="w-100" src="{{ item.store.image.url }}" alt="{{ item.store.store_name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.store.store_name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0 text-decoration-underline">{{ item.store.store_name }}</p>
                    <p class="my-0 d-flex justify-content-between">
                        <span class="text-muted">
                            <small>Qty: {{ item.quantity }}</small>
                        </span> 
                        <span class="fw-bold">
                            {{item.store.price}}€
                        </span>
                    </p>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="d-flex justify-content-between">
                        <span class="fw-bold fs-5">Grand Total: </span>
                        <span class="text-end fw-bold fs-5">{{ grand_total }}€</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'checkout' %}" class="btn btn-dark-tree my-2 btn-checkout-bag">
                    <span class="text-uppercase">Secure Payment</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>